@model thyroid.Models.Person

@{
    ViewBag.Title = "ارزیابی اولیه";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<div style="border:2px solid lightblue;margin:4px">
    <i style="margin-right:5px;font-weight:bold;">مجموعه عناصر داده ای ارزیابی اولیه</i>
    <div class="row" style="margin-bottom:1px">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.person_eval.serom_diag, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.RadioButtonFor(model => model.person_eval.serom_diag, new { htmlAttributes = new { @class = "form-control" } })
                    مثبت
                    @Html.RadioButtonFor(model => model.person_eval.serom_diag, new { htmlAttributes = new { @class = "form-control" } })
                    منفی
                    @Html.ValidationMessageFor(model => model.person_eval.serom_diag, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.person_eval.focal_phys_date, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.person_eval.focal_phys_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.person_eval.focal_phys_date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-3 ">
            <div class="form-group">
                @Html.LabelFor(model => model.person_eval.frst_lotiroxin, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.person_eval.frst_lotiroxin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.person_eval.frst_lotiroxin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:1px">
        <div class="col-sm-3 ">
            <div class="form-group">
                @Html.LabelFor(model => model.person_eval.nxt_lotiroxin, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.person_eval.nxt_lotiroxin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.person_eval.nxt_lotiroxin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-3 ">
            <div class="form-group">
                @Html.LabelFor(model => model.person_eval.nxt_care_date, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.person_eval.nxt_care_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.person_eval.nxt_care_date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="text-align:center;margin-top:6px">
            <button class="btn-success " type="submit" name="sabt"><i class="glyphicon glyphicon-ok"></i> ذخیره </button>
        </div>
    </div>
</div>